{% extends "layout.html" %}

{% block title %} Add Recipe: {% endblock %}
{% block content %}
<div class="add-recipe-container">
  <form method="POST" action="{{ url_for('recipe_views.add_recipe_action') }}" enctype="multipart/form-data">
  <div class="header-row">
    <h1>Add Recipe:</h1>
    <button type="submit" class="submit-btn rectangle">ADD RECIPE</button>
  </div>
  <!-- Form Container -->
 
  <div class="form-container">
    <!-- Top Row (Name) -->
    <div class="form-row">
      <div class="input-group name-field">
        <div class="input-label">Name:</div>
        <div class="input-field rectangle" style="width: 868px; height: 63px;">
          <input type="text" name="name" class="hidden-input" placeholder="">
        </div>
      </div>
    </div>


    <!-- Middle Row (URLs) -->
    <div class="form-row url-row">
      <div class="input-group">
        <div class="input-label">Recipe URL:</div>
        <div class="input-field rectangle" style="width: 485px; height: 62px;">
          <input type="url" name="recipe_url" class="hidden-input">
        </div>
      </div>
     
      <div class="input-group">
        <div class="input-label">Image URL:</div>
        <div class="input-field rectangle" style="width: 477px; height: 62px;">
          <input type="url" name="image_url" class="hidden-input">
        </div>
      </div>
    </div>


    <!-- Bottom Row (Ingredients & Directions) -->
    <div class="form-row content-row">
      <!-- Ingredients Section -->
      <div class="ingredients-section rectangle" style="width: 501px; height: 632px;">
        <div class="section-title">Ingredients:</div>
       
        <div class="ingredient-controls">
          <div id="type-of-ingredients" class="ingredient-type rectangle" style="width: 367px; height: 49px;">
            <select name="ingredient_type" class="hidden-select" >
              <option value="produce">Type of Ingredients</option>
              <!-- options here -->
              <option value="produce">Produce</option>
              <option value="dairy">Dairy</option>
              <option value="spices">Herbs/Spices</option>
              <option value="meat">Meat</option>
              <option value="pantry">Pantry</option>
            </select>
          </div>
          <div id="ingredient-text" class="ingredient-name rectangle">
            <input type="text" name="ingredient_name" class="hidden-input" placeholder="Ingredient">
          </div>
          <button type="submit" class="ellipse-btn">
            <img src="{{ url_for('static', filename='images/plus-icon.png') }}" width="21" height="23" alt="Add ingredient">
          </button>
          <div id="measurement" class="ingredient-measurement rectangle" title="Measurement" >
            <input type="text" name="measurement" class="hidden-input" placeholder="Measurement">
          </div>
          <button type="submit" class="ellipse-btn">
            <img src="{{ url_for('static', filename='images/plus-icon.png') }}" width="21" height="23" alt="Add ingredient">
          </button>
        </div>
      </div>


      <!-- Directions Section -->
      <div class="directions-section rectangle" style="width: 485px; height: 621px;">
        <div class="section-title">Directions:</div> 
        <button type="button" class="ellipse-btn">
          <img src="{{ url_for('static', filename='images/plus-icon.png') }}" width="21" height="23" alt="Add step">
        </button>
        <textarea name="directions" class="hidden-textarea"></textarea>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}
