{% extends "layout.html" %}
{% block title %}Daily Recipes{% endblock %}
{% block page %}Daily Recipes{% endblock %}

{% block link%}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav style="background-color: orangered; border: none; margin: 0; padding: 10px 5%;  overflow: hidden;" >
    <div class="nav-wrapper" style="background-color: darkred; border-radius: 50px; padding: 10px 20px; display: flex; align-items: center; justify-content: space-between">
        <div class="left">
            <input type="text" placeholder="Search.." style="border: none; border-radius: 50px; background-color: orangered;">
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down" style="display: flex; align-items: center;">
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="display: flex; align-items: center;">
                <li style="margin-left: 15px;"><a href="/daily-recipes">Daily Recipes</a></li>
                <li style="margin-left: 15px;"><a href="/my-recipes">Recipes</a></li>
                <li style="margin-left: 15px;"><a href="/my-ingredients">My Ingredients</a></li>
                <li style="margin-left: 15px;"><a href="/login" style="background-color: orangered; margin-top: 25px; margin-bottom: 25px; border-radius: 50px;">Login</a></li>
                <li style="margin-left: 15px;">{{current_user}}</li>
            </ul>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<main>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
        <h3>Daily Recipes</h3>
    </div>

    <div class="row">
        {% for recipe in dailyrecipes %}
        <div class="col s12 m6 l4">
            <a href="/recipes/{{recipe.id}}" >
            <div class="card">
                <div class="card-image">
                    {% if recipe.image %}
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    {% else %}
                    <img src="https://via.placeholder.com/400x250?text=No+Image" alt="No image available">
                    {% endif %}
                </div>
                <div class="card-content">
            <span class="card-title"><a href="/recipes/{{recipe.id}}" style="color: white;">{{recipe.title}}</a></span>
            <hr>
            <p>{{recipe.description}}</p>
                </div>
                <div class="recipe-info">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.eaj12PtvZKg3RDD6XDmjVAHaHd&pid=Api&P=0&h=220" alt="Time Icon">
                    <span class="time">{{recipe.cook_time}}</span>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>    
</main>
{% endblock %}
